name: bot

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  IMAGE_NAME: bot-image
  REGISTRY: docker.io

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and Push Docker Image
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Pull Existing Image from Docker Hub (Optional)
        run: |
          docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} || true  

      - name: Add Secrets to .env
        run: |
          echo "TELEGRAM_TOKEN=${{ secrets.TELEGRAM_TOKEN }}" >> .env
          echo "GEMINI_API_KEY=${{ secrets.GEMINI_API_KEY }}" >> .env
          echo "GEMINI_API_SECRET=${{ secrets.GEMINI_API_SECRET }}" >> .env

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          file: Dockerfile
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest

  deploy:
    name: Deploy
    runs-on: self-hosted
    timeout-minutes: 10
    needs: [ build ]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Pull Latest Image
        run: docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

      - name: Start Services with Docker Compose
        run: |
          docker compose up -d 
